<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" href="/javax.faces.resource/charts/charts.css.jsf?ln=primefaces"/>
    </h:head>
    <h:body style="
            margin: 0px 0px 0px 0px;">
        <h:form style="margin: 0px 0px 0px 0px;">
            <p:growl id="growl" life="2000" />
            <table border="0" width="0%"  bgcolor="#FFFFFF" style="align-content: center;height: 100%; margin: auto;">
                <caption style="font-size: 30px;font-style:italic;">Содержание</caption>
                <tr>
                    <td>
                        <p:commandLink   style="margin-right:20px;font-size: 20px; float: left;" >
                            <a href="http://aisori.meteo.ru/AisoriHelp/Part_0.htm" target="_blank"  style="margin-right:0px;font-size: 19px;font-weight:bold;">Предисловие</a>
                        </p:commandLink>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p:commandLink   style="margin-right:20px;font-size: 20px;">
                            <a href="http://aisori.meteo.ru/AisoriHelp/Part_1.htm" target="_blank"  style="margin-right:0px;font-size: 19px;">Часть 1. Климатические нормы</a>
                        </p:commandLink>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p:commandLink   style="margin-right:20px;font-size: 20px;">
                            <a href="http://aisori.meteo.ru/AisoriHelp/Part_2.htm" target="_blank"  style="margin-right:0px;font-size: 19px;">Часть 2. Температура воздуха</a>
                        </p:commandLink>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p:commandLink   style="margin-right:20px;font-size: 20px;">
                            <a href="http://aisori.meteo.ru/AisoriHelp/Part_3.htm" target="_blank"  style="margin-right:0px;font-size: 19px;">Часть 3. Температура почвы </a>
                        </p:commandLink>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p:commandLink   style="margin-right:20px;font-size: 20px;">
                            <a href="http://aisori.meteo.ru/AisoriHelp/Part_4.htm" target="_blank"  style="margin-right:0px;font-size: 19px;">Часть 4. Ветер</a>

                        </p:commandLink>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p:commandLink   style="margin-right:20px;font-size: 20px;">
                            <a href="http://aisori.meteo.ru/AisoriHelp/Part_5.htm" target="_blank"  style="margin-right:0px;font-size: 19px;">Часть 5. Атмосферное давление </a>

                        </p:commandLink>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p:commandLink   style="margin-right:20px;font-size: 20px;">
                            <a href="http://aisori.meteo.ru/AisoriHelp/Part_6.htm" target="_blank"  style="margin-right:0px;font-size: 19px;">Часть 6. Влажность воздуха </a>
                        </p:commandLink>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p:commandLink   style="margin-right:20px;font-size: 20px;">
                            <a href="http://aisori.meteo.ru/AisoriHelp/Part_7.htm" target="_blank"  style="margin-right:0px;font-size: 19px;">Часть 7. Атмосферные осадки</a>

                        </p:commandLink>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p:commandLink   style="margin-right:20px;font-size: 20px;">
                            <a href="http://aisori.meteo.ru/AisoriHelp/Part_8.htm" target="_blank"  style="margin-right:0px;font-size: 19px;">Часть 8. Снежный покров</a>

                        </p:commandLink>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p:commandLink   style="margin-right:20px;font-size: 20px;">
                            <a href="http://aisori.meteo.ru/AisoriHelp/Part_9.htm" target="_blank"  style="margin-right:0px;font-size: 19px;">Часть 9. Облачность</a>

                        </p:commandLink>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p:commandLink   style="margin-right:20px;font-size: 20px;">
                            <a href="http://aisori.meteo.ru/AisoriHelp/Part_10.htm" target="_blank"  style="margin-right:0px;font-size: 19px;">Часть 10. Атмосферные явления </a>

                        </p:commandLink>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p:commandLink   style="margin-right:20px;font-size: 20px;">
                            <a href="http://aisori.meteo.ru/AisoriHelp/Part_11.htm" target="_blank"  style="margin-right:0px;font-size: 19px;">Часть 11. Гололедно-изморозевые явления </a>

                        </p:commandLink>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p:commandLink   style="margin-right:20px;font-size: 20px;">
                            <a href="http://aisori.meteo.ru/AisoriHelp/Part_12.htm" target="_blank"  style="margin-right:0px;font-size: 19px;">Часть 12. Солнечная радиация и солнечное сияние</a>

                        </p:commandLink>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p:commandLink   style="margin-right:20px;font-size:20px;">
                            <a href="http://aisori.meteo.ru/AisoriHelp/Part_13.htm" target="_blank"  style="margin-right:0px;font-size: 19px;">Часть 13. Метеорологическая дальность видимости</a>

                        </p:commandLink>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p:commandLink   style="margin-right:20px;font-size: 20px;">
                            <a href="http://aisori.meteo.ru/AisoriHelp/Part_14.htm" target="_blank"  style="margin-right:0px;font-size: 19px;">Часть 14. Специализированные климатические характеристики </a>

                        </p:commandLink>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p:commandLink   style="margin-right:20px;font-size: 20px;">
                            <a href="http://aisori.meteo.ru/AisoriHelp/Part_15.htm" target="_blank"  style="margin-right:0px;font-size: 19px;">Часть 15. Отраслевое приложениe</a>

                        </p:commandLink>
                    </td>
                </tr>
            </table>
        </h:form>
    </h:body>
</html>