<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head>
        <link rel="stylesheet" href="/javax.faces.resource/charts/charts.css.jsf?ln=primefaces"/>
        <h:outputScript library="primefaces" name="charts/charts.js"/>
        <h:form style="margin: 0px 0px 0px 0px;">
            <p:growl id="msgs" showDetail="true" />
            <p:panel style="text-align:center;" class="col s12 input-field">
                <p:commandLink   style="margin-right:20px;font-size: 14px;" >
                    <a href="http://meteo.ru/"   style="margin-right:0px;font-size: 20px;">Домой</a>
                </p:commandLink>
                <p:commandLink   style="margin-right:20px;font-size: 14px;" >
                    <a href="index.xhtml" style="margin-right:0px;font-size: 20px;">Выход</a>
                </p:commandLink>
            </p:panel>
        </h:form>
    </h:head>

    <h:body >
        <p:tabView style="margin-right:0px;font-size: 14px;">
            <c:forEach items="#{tabBean.tabs}" var="tabInfo" varStatus="vs">
                <p:tab  title="#{tabInfo.title}" >
                    <ui:include src="#{tabInfo.page}.xhtml"/>
                </p:tab>
            </c:forEach>
        </p:tabView>

    </h:body>
</html>