<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head>
    </h:head>

    <h:body  >
        <p:outputPanel id="PANEL" style="display:block">
            <table>
                <tr>
                    <td>#{LineChartBean.filename}</td>
                </tr>
            </table>
        </p:outputPanel>
        <p:chart type="line" model="#{lineChartBean.lineModel}" style="height:655px;width:1000px;"/>
    </h:body>
</html>