<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head>
    </h:head>

    <h:body >
        <style type="text/css">
            body .ui-staticmessage.ui-message {
                width: 100%;
            }
        </style>
        <div class="ui-g">
           <div class="ui-g-12 ui-md-3">
                <p:staticMessage severity="error" summary="Ошибка" detail="Такого пользователя или пароля не существует" />
            </div>
        </div>
    </h:body>
</html>