<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head>
    </h:head>

    <h:body >
        <script type="text/javascript">
            function skinRadarChart() {
                Chart.defaults.global.startAngle = 36;
                Chart.defaults.global.tooltips.cornerRadius = 3;
                Chart.defaults.global.tooltips.enabled = true;
                Chart.defaults.global.tooltips.mode = 'point';
                Chart.defaults.global.tooltips.position = 'nearest';
            }
        </script>

        <div class="ui-g">
            <div class="ui-lg-6 ui-g-12">
                <p:radarChart model="#{radarView.radarModel}" />
            </div>
        </div>
    </h:body>
</html>