<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
    </h:head>

    <h:body >
        <h:form >
            <h:panelGrid columns="2" cellpadding="5">
                <h:outputLabel for="username1" value="Логин:" />
                <p:inputText id="username1"   label="username"/>

                <h:outputLabel for="password1" value="Пароль:" />
                <p:password id="password1"   label="password" />

                <h:outputLabel for="password2" value="Подтверждение пароля:" />
                <p:password id="password2"   label="password" />

                <h:outputLabel for="fname" value="Фамилия:" />
                <p:inputText id="lname"   label="lname" />

                <h:outputLabel for="Имя" value="Имя:" />
                <p:inputText id="fname"   label="fname" />

                <h:outputLabel for="Mail" value="Почта:" />
                <p:inputText id="mail"   label="mail" />

                <h:outputLabel for="org" value="Организация:" />
                <p:inputText id="org"   label="org" />

                <h:outputLabel for="city" value="Город:" />
                <p:inputText id="city"   label="city" />

                <h:outputLabel for="country" value="Страна:" />
                <p:inputText id="country"   label="country" />

                <f:facet name="footer">
                    <p:commandButton value="Зарегистрироваться" action="#{login.registration()}"/>
                </f:facet>  
            </h:panelGrid>
        </h:form>
    </h:body>
</html>