<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
</h:head>
<h:body >
<h:form>
    <p:dataTable var="themetable" value="#{kundenBean.table}" rows="10" id="table" paginator="true">
    <p:column headerText="Id">
        <h:outputText value="#{themetable.id}" />
    </p:column>
 
    <p:column headerText="Название станции">
        <h:outputText value="#{themetable.name}" />
    </p:column>
 
    <p:column headerText="Январь">
        <h:outputText value="#{themetable.jan}" />
    </p:column>
 <p:column headerText="Февраль">
        <h:outputText value="#{themetable.feb}" />
    </p:column>
    <p:column headerText="Март">
        <h:outputText value="#{themetable.mar}" />
    </p:column>
    <p:column headerText="Апрель">
        <h:outputText value="#{themetable.apr}" />
    </p:column>
    <p:column headerText="Май">
        <h:outputText value="#{themetable.may}" />
    </p:column>
    <p:column headerText="Июнь">
        <h:outputText value="#{themetable.jun}" />
    </p:column>
    <p:column headerText="Июль">
        <h:outputText value="#{themetable.jul}" />
        </p:column>
    <p:column headerText="Август">
        <h:outputText value="#{themetable.aug}" />
    </p:column>
    <p:column headerText="Сентябрь">
        <h:outputText value="#{themetable.sep}" />
    </p:column>
    <p:column headerText="Октябрь">
        <h:outputText value="#{themetable.oct}" />
    </p:column>
    <p:column headerText="Ноябрь">
        <h:outputText value="#{themetable.nob}" />
    </p:column>
    <p:column headerText="Декабрь">
        <h:outputText value="#{themetable.dec}" />
    </p:column>
</p:dataTable>
</h:form>
</h:body>
</html>